html {
	overflow: hidden;
}

img {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.title {
	display: flex;
	position: fixed;
	top: 0%;
	justify-content: left;
	align-items: left;
	text-align: left;
	padding-left: 50px;
	margin-top: 1%;
	margin-left: 2%;
	background: linear-gradient(to right, rgba(57, 11, 12, 1.0), rgba(57, 11, 12, 0.0));
	width: 40%;
	height: auto;
	border-bottom: 2px solid grey;
}

.title page_name {
	font-family: "Raleway"; 
	font-size: 35px;
	line-height: 1.5;
	color: rgba(248, 248, 248, 1.0);
}

.shelf-one {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 90px;
	left: 30px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.shelf-one:hover {
	background-color: rgba(57, 11, 12, 0.75);
}


.left-center-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(-250px);
}

.left-center-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.right-center-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(250px);
}

.right-center-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.top-left-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(-240px) translateY(-80px);
}

.top-left-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.top-right-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(240px) translateY(-80px);
	text-decoration: none;
}

.top-right-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.bot-left-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(-240px) translateY(80px);
	text-decoration: none;
}

.bot-left-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.bot-right-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(240px) translateY(80px);
	text-decoration: none;
}

.bot-right-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.top-left-corner-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(-180px) translateY(-160px);
	text-decoration: none;
}

.top-left-corner-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

.top-right-corner-shelf {
	display: flex;
	position: fixed;
	width: 150px;
	height: 75px;
	top: 50%;
	left: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
	transform: translate(-50%, -50%) translateX(180px) translateY(-160px);
	text-decoration: none;
}

.top-right-corner-shelf:hover {
	background-color: rgba(57, 11, 12, 0.75);
}

/* style page footer */
.footer {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0%;
	width: 100%;
	justify-content: center;
	background: linear-gradient(to top, rgba(57, 11, 12, 1), rgba(57, 11, 12, 0))
}

.footer p {
	font-size: 0.75em;
	text-align: center;
	padding: 0 1em;
	color: #fffcf2;
}

.footer p a {
	text-decoration: none;
}


.external-link {
	color: #eb5e28;
	font-weight: bold;
	text-decoration: none;
}


/* Animations */

#butterfly {
	position: absolute;
	left: 50%;
	top: 50%;
}
