body, header, nav, footer, h1, div, img {
	margin: 0;
	padding: 0;
	border: 0;
}

img {
	width: 80px;
	height: 80px;
}

.logo {
	display: flex;
	justify-content: center;
	color: black;
}

.nav-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: slategrey;
}

.nav-flex a {
	color: white;
	padding: 14px 40px;
	text-decoration: none;
	text-align: center;
}

.nav-flex a:hover {
	background-color: grey;
	color: black;
}

main {
	margin: auto;
	width: 50%;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	padding: 0 1em;
}

footer p a {
	color: #000000;
	text-decoration: none;
}

.external-link {
	color: #666600;
	font-weight: bold;
	text-decoration: none;
}




