html {
	background-color: #252422;
}

body {
	margin-top: 0;
}

.logo {
	display: flex;
	justify-content: center;
	background-color: #564D41;
	border-right: 2px solid #403d39;
	border-left: 2px solid #403d39;
	border-bottom: 2px solid #403d39;
}

.logo page_name {
	font-family: "Playfair Display"; 
	font-size: 34px;
	color: #fffcf2;
}

.logo img {
	padding-top: 10px;
}

.nav-flex {
	display: flex;
	flex-direction: row;
	background-color: #403d39;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.Home {
	flex: 12%;
	text-align: center;
}

.Algebra {
	flex: 12%;
	text-align: center;
}

.Statistics {
	flex: 12%;
	text-align: center;
}

.Trigonometry {
	flex: 12%;
	text-align: center;
}

.Geometry {
	flex: 12%;
	text-align: center;
}

.Calculus {
	flex: 12%;
	text-align: center;
}

.nav-flex a {
	color: #fffcf2;
	padding: 5px 35px;
	text-decoration: none;
	text-align: center;
	font-family: "Source Sans Pro";
	font-size: 15px;
	background-color: #6F6250;
	border-right: 2px solid #403d39;
	border-left: 2px solid #403d39;
}

.nav-flex a:hover {
	background-color: grey;
	color: #FFFFFF;
}

.Home a{
	background-color: #252422;
	border: 2px solid #eb5e28;
}

.nav-clone {
	display: flex;
	flex-direction: row;
	background-color: #403d39;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 10px;
	border-right: 2px solid #eb5e28;
	border-left: 2px solid #eb5e28;
	border-top: 2px solid #eb5e28;
}

.Home-clone {
	flex: 12%;
	text-align: center;
}

.Algebra-clone {
	flex: 12%;
	text-align: center;
}

.Statistics-clone {
	flex: 12%;
	text-align: center;
}

.Trigonometry-clone {
	flex: 12%;
	text-align: center;
}

.Geometry-clone {
	flex: 12%;
	text-align: center;
}

.Calculus-clone {
	flex: 12%;
	text-align: center;
}

.nav-clone a {
	color: #403d39;
	padding: 2px 50px;
	text-decoration: none;
	text-align: center;
	font-size: 2px;
	background-color: #403d39;
	margin-bottom: 20px;
}

.Home-clone a {
	padding-top: 17px;
}

.body_title {
	display: flex;
	justify-content: center;
	border-right: 2px solid #eb5e28;
	border-left: 2px solid #eb5e28;
}

.intro {
	text-align: center;
	font-family: "Playfair Display"; 
	font-size: 25px;
	color: #FFFFFF;
	text-decoration: underline;
	text-decoration-color: #eb5e28;
}	



.block_one {
	display: flex;
	flex-wrap: wrap;
	margin-right: 300px;
	margin-left: 300px;
	margin-bottom: 10px;
}

.para_one {
	flex: 45%;
	background-color: #252422;
	text-align: right;
	padding: 2%;
	font-family: "Source Sans Pro";
	font-size: 15px;
	color: #fffcf2;
	border-right: 2px solid #eb5e28;
	border-bottom: 2px solid #eb5e28;
}

.img_one {
	flex: 50%;
	padding-left: 5px;
	padding-top: 40px;
	border-bottom: 2px solid #eb5e28;
}

.block_two {
	display: flex;
	flex-wrap: wrap;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 10px;
}

.img_two {
	flex: 50%;
	justify-content: right;
	align-content: right;
	text-align: right;
	padding-right: 5px;
	border-right: 2px solid #eb5e28;
	border-top: 2px solid #eb5e28;
}

.para_two {
	flex: 45%;
	background-color: #252422;
	text-align: left;
	padding: 2%;
	font-family: "Source Sans Pro";
	font-size: 15px;
	color: #fffcf2;
	border-bottom: 2px solid #eb5e28;
}


.block_three {
	display: flex;
	flex-wrap: wrap;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 10px;
}

.para_three {
	flex: 45%;
	background-color: #252422;
	text-align: right;
	padding: 2%;
	font-family: "Source Sans Pro";
	font-size: 15px;
	color: #fffcf2;
	border-right: 2px solid #eb5e28;
	border-top: 2px solid #eb5e28;
}

.img_three {
	flex: 50%;
	padding-left: 5px;
	border-top: 2px solid #eb5e28;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #564D41;
}

.footer p {
	font-size: 0.75em;
	text-align: center;
	padding: 0 1em;
	color: #fffcf2;
}

.footer p a {
	text-decoration: none;
}


.external-link {
	color: #eb5e28;
	font-weight: bold;
	text-decoration: none;
}

/* Animations */

#animation {
	display: flex;
	position: absolute;
	top: 0;
	margin-left: 50%;
	width: 100px;
	height: 100px;
}

#animation_1 {
	display: flex;
	position: absolute;
	top: 0;
	margin-left: 50%;
	width: 100px;
	height: 100px;
}

#butterfly {
	display: flex;
	position: absolute;
	top: 0;
	margin-left: 50%;
	width: 20px;
	height: 20px;
}

#butterfly_1 {
	display: flex;
	position: absolute;
	top: 0;
	margin-left: 40%;
	width: 20px;
	height: 20px;
}

